<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>VJ Help</title>
</head>
<body>
    <div id="header" style="text-align: right;" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a style="margin-right:60%;" class="navbar-brand" href="/">VJ Help</a>
        <button style="color: white;border-color: white;margin-right:5%;" class="btn my-2 my-sm-0" onclick="window.location.href ='/help-offers'">Help offers</button>
        <button style="color: white;border-color: white;margin-right:5%;" class="btn my-2 my-sm-0" onclick="window.location.href ='/notifications/'">Notifications</button>
        <button style="color: white;border-color: white;margin-right: 0%;margin-left: auto;" class="btn my-2 my-sm-0" onclick="window.location.href ='/logout'">Log out</button>
    </div>
    <h1>Help Offers received </h1>
    <p>for your help request:</p>
    {{#data}}
    <h3><a href="/help-offers/{{id}}">{{helpRequestTitle}}</a></h3>
    <p>from <b><span style="text-transform: uppercase;">{{helperLastName}}</span></b> {{helperFirstName}}</p>
    <br>    
    {{/data}}
</body>
</html>