<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h3>you received a help offer for your request with title: </h3>
    <p><b>{{helpRequestTitle}}</b></p>
    
    <!-- <h3>Help Offers received </h3>
    {{#data}}
    <p>help offer from<b><span>{{title}}</span></b></p>
    <br>
    <p>for your help request with the title:</p>>
    <h3><b>{{title}}</b></h3>
    <br>
    {{/data}}
     -->

</body>
</html>