<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h3> by <span style="text-transform: uppercase;">{{ownerLastName}}</span> {{ownerFirstName}}</h3>
    <p>type:<b>{{type}}</b></p>
    <p>{{description}}</p>
    <form action="/help-offers/new/{{id}}" method="POST">
        <input type="submit" value="send help offer">    
    </form>

</body>
</html>
