<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>VJ Help</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body id="bodyLoginPage">
        <div class="pageContent">
            <div class="header">
                <h1> Welcome to VJ Help</h1>
                
            </div><br/>
            <div class="container">
                <h1>Login page</h1></br>
                <form action="/login" method="post">
                    <p class="lead">
                        <input class="input-text" name="email" type="text" placeholder="Email"></br>
                        <br/>
                        <input class="input-text" name="password" type="password" placeholder="Password"></br>
                    </p>
                    <input type="submit" value="Valider">
                </form>
    
                <p class="lead">No account ? Sign up <a href="/signup">here</a></p>
                Never regret a day in your life. <br/>
                Good days give you happiness <br/>
                & bad days give you experience.
            </div>
        </div>
        <img align="right" class="AMU-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/d4/Aix-Marseille_Universit%C3%A9_%28Logo%29.svg/1200px-Aix-Marseille_Universit%C3%A9_%28Logo%29.svg.png">
    </body>
</html>