<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VJ Help</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body id="bodylogout">
        <p class="lead">       
            You have successfully logged out from VJ Help <br/>
            want to come <a href="/">back</a> ?
        </p>
        <img style="width:50%;" src="https://static.vecteezy.com/system/resources/previews/000/380/890/non_2x/good-bye-handwritten-calligraphy-lettering-modern-brush-painted-letters-vector-illustration-template-for-poster-flyer-greeting-card-invitation-and-various-design-products.jpg" alt="">
        <img align="right" class="AMU-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/d4/Aix-Marseille_Universit%C3%A9_%28Logo%29.svg/1200px-Aix-Marseille_Universit%C3%A9_%28Logo%29.svg.png">
    </body>
</html>
