<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversation With </title>
</head>
<body>
    {{#data}}
        <h2><span style="text-transform: uppercase;">{{senderLastName}}</span> {{senderFirstName}} {{#ownedByCurrentUser}} <span style="color: red;">(me)</span>{{/ownedByCurrentUser}}</h2>
        <p><b>{{message}}</b> at {{date}}</p>
    {{/data}}
    <form action="/messages/{{receiverId}}" method="POST">
        message :<input type="text" name="message" autofocus>
    </form>
</body>
</html>
