<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <h1>Notifications</h1>
    {{#data}}
        {{#isMessageType}}
            <p>You received a new message from <b> <span style="text-transform:uppercase;" >{{fromUserLastName}}</span> {{fromUserFirstName}} </b><a href="/messages/{{from_id}}">conversation</a></p>
            <p>on {{date}}</p>
        {{/isMessageType}}
        {{#isGetHelpOfferType}}
        <p>You received a new help Offer from <b> <span style="text-transform:uppercase;" >{{fromUserLastName}}</span> {{fromUserFirstName}} </b><a href="/help-offers/{{object_id}}">details</a></p>
            <p>on {{date}}</p>
        {{/isGetHelpOfferType}}
        {{#isAcceptHelpOfferType}}
        <p><span style="text-transform:uppercase;" >{{fromUserLastName}}</span> {{fromUserFirstName}} </b> accepted your help offer , send him a <a href="/messages/{{from_id}}">message</a></p>
            <p>on {{date}}</p>
        {{/isAcceptHelpOfferType}}


    {{/data}}
</form>
</body>
</html>