<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href=""/>
        <title>Signup</title>
        <script>
            function validateForm(){
                var x = document.forms["TheForm"]["first_name"].value;
                if(x == "")
                    return false;
                var x = document.forms["TheForm"]["last_name"].value;
                if(x == "")
                    return fale;
                var x = document.forms["TheForm"]["age"].value;
                if(x == "" && typeof(x)== number)
                    return false;
                var x = document.forms["TheForm"]["email"].value;
                if(!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(x)))
                    return false;
                if(x == "")
                    return false;
                var x = document.forms["TheForm"]["password"].value;
                var y = document.forms["TheForm"]["password2"].value;
                if(x == "" || x!=y){
                    return false;
                }
                    
                var x = document.forms["TheForm"]["description"].value;
                if(x == "")
                    return false;
                return true;
            }
        </script>
    </head>
    <body>
        here is the signup page

        nothing to show yet
        <button class="button" type="button" onclick="window.location.href ='/'">Go to index</button>    
        
        <form id="TheForm" name="TheForm" method="post" action="\signup" onsubmit="if(validateForm()){return true}else{alert('please fill out the form correctly');return false;}">
            <p>
                <label for="first_name"> Your first name</label>
                <input type="text" name="first_name" id="first_name"/>
            </p>
            <p>
                <label for="last_name"> Your last name</label>
                <input type="text" name="last_name" id="last_name"/>
            </p>
            <p>
                <label for="age"> Your age </label>
                <input type="text" name="age" id="age"/>
                <label for="age"> Years old </label>
            </p>
            
            <p>
                <label for="email"> Your email adress </label>
                <input type="email" name="email" id="email"/>
            </p>
            <p>
                <label for="password"> Your secret secretly secret password </label>
                <input type="password" name="password" id="password"/>
            </p>
            <p> 
                <label for="password2"> Confirm your password please (got small eyes) </label>
                <input type="password" name="password2" id="password2"/>
            </p>
            <br/>
            <label for="description">A small description of yourself </label>
            <br/>
            <textarea method="post" name ="description" id="description" form="TheForm" rows="4" cols="50" placeholder="Love potatoes"></textarea>
            <br/>

            <input type="submit" value="Valider">
        </form>

    </body>
</html>

